$page-id: "#kulikova";
$image-folder: "../images/kulikova/";
$gray-dashed-border: dotted 3px #939393;

@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');


#{$page-id} {
  font-family: 'Neucha', cursive, $font-family-sans-serif;
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  #{$page-id} {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  #{$page-id} {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  #{$page-id} {
    font-size: 1.5rem;
  }
}

#{$page-id} .modal-content {
  font-size: 0.9em;
  border: solid 1px black;
}
#{$page-id} .modal-content dt {
  color: $soft-red;
}

#{$page-id} .red-text {
  color: $true-red;
}
#{$page-id} .red-button {
  border-width: 3px;
  border-color: transparent;
  font-weight: 700;
}
#{$page-id} .red-button {
  background-color: $true-red;
  color: white;
}

#{$page-id} .red-button-outline {
  border-width: 3px;
  border-color: $true-red;
  background-color: transparent;
  color: black;
  font-weight: 700;
}
#{$page-id} .red-button-outline:focus, #{$page-id} .red-button-outline:hover {
  background-color: $soft-red;
}

#{$page-id} h1 {
  font-size: 1em;
}

@include media-breakpoint-down(sm) {
  #{$page-id} header .container {
    background: url("#{$image-folder}main.jpg") no-repeat left bottom;
    background-size: contain;
  }
}

#{$page-id} .red-block {
  background-color: $true-red;
}

#{$page-id} .expectations p {
  font-size: 0.8em;
}

#{$page-id} .speaker-biografy {
  font-size: 0.8em;
}

#{$page-id} footer {
  background: black;
  color: white;
  font-size: 0.8em;
}
#{$page-id} footer a {
  color: white;
}
#{$page-id} footer .copyright {
  font-size: 0.8em;
}
