$brand-red: #f33;
$brand-blue: #336;
$dark-grey: #555;
$light-grey: #CCC;
$nearly-black: #1b1d1d;

$true-red: #F00;
$soft-red: #f8313e;

$half-gutter-width: floor(($grid-gutter-width / 2));
$font-weight-black:            900 !default;