@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/solid";

@import "_variables";
@import "_fonts";

html {
  position: relative;
  min-height: 100%;
}
body {
  background: white;
  color: black;
}

.font-weight-black   { font-weight: $font-weight-black !important; }
.red-text { color: $soft-red; }

@import "page/karnauhov";
@import "page/yakuba";