.placeholder {
    outline: 1px dashed #4183C4;
    background: #DEF;
}

.mjs-nestedSortable-error {
    background: #fbe3e4;
    border-color: transparent;
}

ol.menu_items,ol.menu_items ol {
    list-style-type: none;
    margin: 0;
    padding-left: 1em;
}

ol.menu_items li {
    margin: 0.1em 0;
}

ol.menu_items li div {
    border: 1px solid #D4D4D4;
    cursor: move;
    margin: 0;
    padding: 0.2em 0.7em;
}

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
    border-color: #999;
}

.disclose, .expandEditor {
    cursor: pointer;
    width: 20px;
    display: none;
}

.menu_items li.mjs-nestedSortable-collapsed > ol {
    display: none;
}

.menu_items li.mjs-nestedSortable-branch > div > .disclose {
    display: inline-block;
}

.menu_items span.ui-icon {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.inactive_menu_item {
    color: #999;
}