@import "../../../../node_modules/bootstrap/less/bootstrap";

@import "_variables";
@import "_fonts";

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Muller', @fonts-tail;
  background: white;
  color: black;
  font-size: 16px;
}

header, footer {
  padding: @grid-gutter-width 0;
}
@media (min-width: @screen-md-min) {
  header, footer {
    padding: (@grid-gutter-width + 10px) 0;
  }
}

h1 {
  font-family: 'Muller Extrabold', @fonts-tail;
  font-size: 2.5em;
  text-transform: uppercase;
}
@media (min-width: @screen-md-min) {
  h1 {
    font-size: 3em;
  }
}
h2 {
  font-family: 'Muller Extrabold', @fonts-tail;
  font-size: 1.7em;
  display: inline-block;
  position: relative;
  margin-top: @grid-gutter-width * 2;
}
h2:after {
  display: block;
  content: ".";
  line-height: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  background: @soft-red;
  color: @soft-red;
  height: 10px;
  width: @half-gutter-width * 6px;
}
@media (min-width: @screen-sm-min) {
  h2 {
    font-size: 3em;
  }
}
h3 {
  font-family: 'Muller Bold', @fonts-tail;
  font-size: 1.5em;
}

.vawes-bg {
  background: url("../images/bg.png") repeat;
  color: white;
}
.vawes-bg a, .vawes-bg a:focus, .vawes-bg a:hover {
  color: white;
  text-decoration: none;
}
.red-icon {
  color: @soft-red;
  font-size: 1.5em;
  padding: 10px;
}
.font-bigger {
  font-size: 1.5em;
}
.red-button {
  background: none;
  border: solid 3px @soft-red;
  font-family: 'Muller Medium', @fonts-tail;
  padding: (@half-gutter-width - 5px) (@half-gutter-width + 5px);
  text-transform: uppercase;
}
.red-label {
  background: @soft-red;
  color: white;
  text-transform: uppercase;
  font-family: 'Muller Bold', @fonts-tail;
  font-size: 18px;
  padding: (@half-gutter-width - 10px) (@half-gutter-width - 5px);
}
dl.main-list dt {
  color: @soft-red;
  font-family: 'Muller Bold', @fonts-tail;
  font-size: 2em;
  text-transform: uppercase;
  margin-top: @grid-gutter-width;
}
.red-bold-frame {
  border: solid 5px @soft-red;
  overflow: visible;
  padding: 0 @half-gutter-width @half-gutter-width;
  width: 220px;
}
ul.list-over {
  min-width: 230px;
}
ul.list-over li {
  white-space: nowrap;
}
.speaker-bg {
  background: url("../images/speaker-info.png") no-repeat right bottom;
  background-size: contain;
  height: 391px;
}
@media (min-width: @screen-sm-min) {
  .speaker-bg {
    height: 742px;
  }
}


.bg-1 {
  background: url("../images/bg-pic1.jpg") no-repeat center;
  background-size: cover;
}
.bg-1 .timer-block {
  margin: @grid-gutter-width + 10px 0;
  background: white;
  box-shadow: 0 0 14px #1f191a;
  padding: @grid-gutter-width @grid-gutter-width @half-gutter-width;
}
@media (min-width: @screen-md-min) {
  .bg-1 .timer-block {
    margin: @grid-gutter-width * 2 + 20px 0;
  }
}
.timer-block .block-title {
  font-family: 'Muller Extrabold', @fonts-tail;
  font-size: 1.2em;
  text-transform: uppercase;
}
.timer-block .font-thin {
  font-family: 'Muller Light', @fonts-tail;
  font-size: 1.2em;
  text-transform: uppercase;
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .timer-block .block-title {font-size: 1.5em;}
  .timer-block .font-thin {font-size: 1.5em;}
}
@media (min-width: @screen-md-min) {
  .timer-block .block-title {font-size: 2em;}
  .timer-block .font-thin {font-size: 2em;}
}
.red-label-button {
  background: @soft-red;
  color: white;
  text-transform: uppercase;
  font-family: 'Muller Bold', @fonts-tail;
  font-size: 18px;
  padding: @half-gutter-width (@half-gutter-width - 5px);
  border: none;
}

.icons-container {
  margin-top: @grid-gutter-width * 2;
}
.icon-block {
  border: solid 1px #acacac;
  padding: @grid-gutter-width * 2px 0;
  margin-bottom: @grid-gutter-width;
}
.icon-block .icon-pic {
  width: 158px;
  height: 158px + @grid-gutter-width;
  margin: 0 auto @grid-gutter-width;
  position: relative;
  background: no-repeat center top;
  font-family: 'Muller Medium', @fonts-tail;
}
@media (min-width: @screen-md-min) {
  .icon-block .icon-pic {
    height: 158px + @grid-gutter-width + 10px;
    margin-bottom: @grid-gutter-width + 10px;
  }
}

.icon-block .icon-pic:after {
  content: '.';
  width: @grid-gutter-width * 2;
  margin-left: -@grid-gutter-width;
  height: 0;
  overflow: hidden;
  border-bottom: solid 2px @soft-red;
  position: absolute;
  bottom: 0;
  left: 50%;
}
.icon-block .icon-pic-1 {background-image: url("../images/icons/chief.svg");}
.icon-block .icon-pic-2 {background-image: url("../images/icons/rocket.svg");}
.icon-block .icon-pic-3 {background-image: url("../images/icons/team.svg");}
.icon-block .icon-pic-4 {background-image: url("../images/icons/top.svg");}
.icon-block .icon-pic-5 {background-image: url("../images/icons/idea.svg");}
.icon-block .icon-pic-6 {background-image: url("../images/icons/volcano.svg");}

.bg-2 {
  background: url("../images/bg-pic2.jpg") no-repeat center top;
  color: white;
}
.icon-block-red {
  background: @soft-red;
  color: white;
  padding: @grid-gutter-width * 2px 0;
  margin-bottom: @grid-gutter-width;
}
.icon-block-red .icon-pic {
  width: 125px;
  height: 125px;
  margin: 0 auto @grid-gutter-width;
  background: no-repeat center top;
  font-family: 'Muller Medium', @fonts-tail;
}
.icon-block-red .icon-pic-7 {background-image: url("../images/icons/laptop.svg");}
.icon-block-red .icon-pic-8 {background-image: url("../images/icons/workers.svg");}
.icon-block-red .icon-pic-9 {background-image: url("../images/icons/timer.svg");}

.speaker-biografy-block {
  margin-top: @grid-gutter-width;
  margin-bottom: @grid-gutter-width;
}
.speaker-biografy {
  padding: @grid-gutter-width;
}
.speaker-biografy h2 {
  margin-top: @grid-gutter-width;
}
.speaker-biografy dl {
  margin-top: @grid-gutter-width;
}
.speaker-biografy dt {
  font-family: 'Muller Bold', @fonts-tail;
  font-size: 2em;
  margin-top: @grid-gutter-width;
}
.speaker-biografy dd:before {
  content: "o";
  color: @soft-red;
  font-weight: bold;
  padding-right: @half-gutter-width;
}
.speaker-portrait {
  background: url("../images/speaker-photo.jpg") no-repeat center top;
  background-size: contain;
  min-height: 670px;
}
@media (min-width: @screen-md-min) {
  .speaker-portrait {
    min-height: 853px;
  }
}

.bg-3 {
  background: url("../images/bg-pic3.jpg") no-repeat center top;
  color: white;
}
.bg-3 h2:after {
  display: none;
}
.tariffs-block {
  margin-top: @grid-gutter-width;
  margin-bottom: @grid-gutter-width;
}
.tariff-block {
  background: @soft-red;
  font-size: 1.3em;
  font-family: 'Muller ExtraBold', @fonts-tail;
}
@media (max-width: @screen-xs-max) {
  .tariffs-block, .last-tariff-block {
    margin-bottom: 0;
  }
  .tariff-block {
    margin-bottom: @grid-gutter-width * 2;
  }
}
.tariff-block .block-title {
  font-size: 1.5em;
}
.tariff-block .block-body {
  font-family: 'Muller', @fonts-tail;
  background: #192133;
}
.tariff-block .block-body ul {
  margin: 0;
  text-align: left;
  padding: @grid-gutter-width @half-gutter-width;
}
@media (min-width: @screen-sm-min) {
  .tariff-block .block-body ul.extra-padding {
    padding-top: @grid-gutter-width * 2;
    padding-bottom: @grid-gutter-width * 2;
  }
}
.tariff-block .block-body ul li:before {
  content: "o";
  color: @soft-red;
  font-weight: bold;
  padding-right: @half-gutter-width;
}
.tariff-block .order-button {
  font-family: 'Muller', @fonts-tail;
  width: 100%;
  border: none;
  background: none;
  padding: @half-gutter-width 0;
}

.order-block {
  margin-top: @grid-gutter-width * 2;
  margin-bottom: @grid-gutter-width * 2;
  padding: @grid-gutter-width;
}

.modal-content {
  background: black;
  border: solid 3px white;
  border-radius: 0;
  color: white;
}
.modal-content .modal-header {
  border-bottom: solid 2px @soft-red;
}
.modal-content .modal-header h4 {
  font-family: 'Muller Medium', @fonts-tail;
  font-size: 2em;
}
.modal-content .modal-header button {
  opacity: 1;
}
.order_form input, .order_form .input-group-addon {
  background: none;
  color: white;
}
.order_form button {
  background: none;
  border: solid 1px white;
  color: white;
  padding: @half-gutter-width - 5px @grid-gutter-width;
  margin-left: 10px;
}
.order_form button.complete-button {
  background: @soft-red;
  text-transform: uppercase;
  border: none;
}

.remain-time-block {
  font-family: 'Muller Bold', @fonts-tail;
  font-size: 2.5em;
  margin-top: @half-gutter-width;
}
.remain-titles-block {
  margin-bottom: @grid-gutter-width;
}
.remain-time-block .remain, .remain-titles-block .remain-title {
  float: left;
  width: @grid-gutter-width * 2;
  max-width: @grid-gutter-width * 2;
  text-align: center;
  overflow: hidden;
}
.remain-titles-block .remain-title {
  font-family: 'Muller Light', @fonts-tail;
}
@media (min-width: @screen-sm-min) {
  .remain-time-block {
    font-size: 4em;
  }
  .remain-titles-block .remain-title {
    font-size: 1.5em;
  }
  .remain-time-block .remain, .remain-titles-block .remain-title {
    width: @grid-gutter-width * 3;
    max-width: @grid-gutter-width * 3;
  }
}